.ingredientItem{
    display: flex;
    color:black;
    font-weight: 100;
    border-bottom: 2px solid rgba(0, 0, 0, 0.149);
    height: 50px;
  }
.amountItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: medium;
    border-radius: 100px;
    text-align: center;
    text-justify: center;
    border: solid;
    border-width: 1px;
    height: 20px;
}

.amountItem button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin: 0 5px
}