/* .handlers{
  width: 100%;
  background-color: white;
  margin-top: 1px;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.recipeTitle{
  margin-left: 5px;
}
.fondoSombra{
  z-index: 100;
  position: absolute;
  width:  100vw;
  height:  100vw;
  background-color: 007bff;
} */
